*.o
*.pyc
*.bin
zookld
zookfs
zookd
zookfs-exstack
zookd-exstack
zookfs-nxstack
zookd-nxstack
zookfs-withssp
zookd-withssp
shellcode.bin 
run-shellcode
tmp/*.*
.vscode-upload.json
"\001\273MR@\270R\203@8"
.vscode/*
